.social-wall ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-wall li {
  list-style: none;
}

.social-networks {
  flex-direction: column;
}

.social-networks-date {
  color: #797676;
  font-size: 12px;
}

.social-networks-items {
  padding: 10px;
}

.social-networks-items img {
  display: block;
  flex: none; /* for ie 11 */
  max-width: 100%;
  height: auto;
}

.social-networks-post {
  font-size: 14px;
}

.social-wall .see-more {
  color: inherit;
  font-size: 14px;
  font-weight: bold;
}
